          <div id="{{ view_id }}" class="showcase">
            <div id="pictures" class="row">
              <div ng-repeat="section in showcase.sections">
                <h3 class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="section.title" ng-bind-html="section.title"></h3>
                <a class="{{ 'col-xs-' + section.col_widths.xs }} {{ 'col-sm-' + section.col_widths.sm }} {{ 'col-md-' + section.col_widths.md }} {{ 'col-lg-' + section.col_widths.lg }}"
                    ng-href="#{{ showcase.slug }}/{{ section.slug ? section.slug + '/' : ''}}{{ image }}/"
                    ng-repeat="image in section.images">
                  <img ng-class="{'hidden-lg': section.large_thumbs}" ng-src="img/{{ showcase.slug }}/thumb/{{ image }}.jpg" alt="{{ showcase.images[image].title }}" title="{{ showcase.images[image].title }}">
                  <img class="visible-lg" ng-if="section.large_thumbs" ng-src="img/{{ showcase.slug }}/thumb/lg/{{ image }}.jpg" alt="{{ showcase.images[image].title }}" title="{{ showcase.images[image].title }}">
                </a>
              </div>
            </div>
          </div>